/* src/pages/css/LoginPage.module.css */
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.noAccountLabel {
    margin-bottom: 0px;
    text-align: center;
}

.formGroup input {
    width: 300px;
}