/* src/pages/css/StoriesPage.module.css */
.cardsContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: row;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    max-width: 600px;
    max-height: 250px;
    cursor: pointer;
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.storyImage {
    width: 150px;
    height: auto;
    object-fit: cover;
}

.cardContent {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}